{% extends 'website/index.html' %}

{% block content %}
    <h1 class="heading_h1">Check In</h1>

    <form action="" method="post">
        {% csrf_token %}

        {{form}}
        <br>
        <input type="submit" value="submit" class="sub-btn">
    </form>
{% endblock content %}


{% block data %}
<section class="data">

    <h2 class="heading_h1">Our Users</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Disease</th>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phn}}</td>
            <td>{{i.email}}</td>
            <td>{{i.disease}}</td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock data %}
